# Loops
    -  for in 
    -  while loop

In [3]:
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")

Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain

In [20]:
for d in range(10):
    print(d, "Nasir Hussain")

0 Nasir Hussain
1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain
5 Nasir Hussain
6 Nasir Hussain
7 Nasir Hussain
8 Nasir Hussain
9 Nasir Hussain

In [21]:
courses  = ['Python', 'Web', 'Flutter','GD','Cyber','3DAnimation']

In [22]:
for course in courses:
    print(f'We are offering {course} course')

We are offering Python course
We are offering Web course
We are offering Flutter course
We are offering GD course
We are offering Cyber course
We are offering 3DAnimation course

In [31]:
students = ['Umer','Hamza','Saif', 'Muhammad Arbab', 'Kashif', 'Rehan', 'Ali', 'Shumail', 'Sufyan']

In [32]:
for student in students:
    print(student.upper())

UMER
HAMZA
SAIF
MUHAMMAD ARBAB
KASHIF
REHAN
ALI
SHUMAIL
SUFYAN

In [33]:
for student in students:
    if student!='Saif':
        print(f"{student} Kal chutti hy!!!")
    else:
        print(f"{student} Kal zarror ana")

Umer Kal chutti hy!!!
Hamza Kal chutti hy!!!
Saif Kal zarror ana
Muhammad Arbab Kal chutti hy!!!
Kashif Kal chutti hy!!!
Rehan Kal chutti hy!!!
Ali Kal chutti hy!!!
Shumail Kal chutti hy!!!
Sufyan Kal chutti hy!!!

In [37]:
# message all students whose name is less than or equal to 4 characters 
for student in students:
    if len(student)<=4:
        print(f'{student} :You are selected for intership!!')

Umer :You are selected for intership!!
Saif :You are selected for intership!!
Ali :You are selected for intership!!

In [60]:
lst  = list(range(1,100))

In [61]:
list_of_multiples_of_5 = []

In [62]:
for num in lst:
    if num%5 == 0:
        list_of_multiples_of_5.append(num)

In [63]:
list_of_multiples_of_5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [64]:
101/5

20.2

In [65]:
101%5

1

In [66]:
newlst = []

In [67]:
for num in lst:
    if (num%5==0) and (num%10!=0):
        newlst.append(num)

In [68]:
newlst

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [69]:
num

99

In [73]:
lst  = list(range(1,21))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [74]:
mof5=[]
notmof5 = []

for num in lst:
    if num%5==0:
        mof5.append(num)
    else:
        notmof5.append(num)

In [75]:
mof5

[5, 10, 15, 20]

In [76]:
notmof5

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19]

In [77]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [80]:
even = []
odd = []

for num in lst:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# list comprehension

In [81]:
squares = []

for num in lst:
    square = num**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [83]:
squares = [ num**2 for num in lst]

In [84]:
squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [85]:
items = ['Laptop', 'Keyboard', 'Mouse', 'Speaker', 'Heasdfone', 'Charger', 'USB']

In [88]:
for item in items:
    print(item)

Laptop
Keyboard
Mouse
Speaker
Heasdfone
Charger
USB

In [89]:
lower_items = []
for item in items:
    lower_items.append(item.lower())
lower_items

['laptop', 'keyboard', 'mouse', 'speaker', 'heasdfone', 'charger', 'usb']

In [90]:
lower_items = [item.lower() for item in items]

In [91]:
lower_items

['laptop', 'keyboard', 'mouse', 'speaker', 'heasdfone', 'charger', 'usb']

In [92]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [93]:
evens = [num for num in lst if num%2==0]

In [94]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [97]:
odds=[]
evens = [num if num%2==0 else odds.append(num) for num in lst]

In [98]:
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [99]:
evens

[None,
 2,
 None,
 4,
 None,
 6,
 None,
 8,
 None,
 10,
 None,
 12,
 None,
 14,
 None,
 16,
 None,
 18,
 None,
 20]

In [101]:
store = [f'{num} is Even' if num%2==0 else f'{num} is Odd' for num in lst]